body{
	margin:0;
	background: rgb(255,215,79);
}

@font-face{
	font-family: yu gothic;
	src: url(yugothil.ttf);
}

div#container{
	background: white;
	margin: 1% 5%;
	width: 90%;
	box-shadow: 0px 0px 1px 0px #585858;
}

div.wrapper{
	width:100%;
	background:white;
	padding-top: 10px;
}




div img#wall{
	margin-top:-50px;
	width:100%;
}

nav{
	background: white;
}

nav ul{
	list-style-type: none;
	float:right;
	margin-right: 8%;
	margin-top: 50px;
	padding:0;
}

nav#top ul li{
		font-family: yu gothic;
		font-weight:bold;
		display: inline;
}

nav#top ul li a{
	text-decoration: none;
	color: black;
		padding: 5px 10px;
		padding-bottom: 20px;
		display: inline-block;
		border-bottom: 2px solid black;
		font-size: 75%;
	transition: 400ms ease-out;
}

nav#top ul li a:hover{
		color: red;
}

nav#top img#tri{
	width: 20px;
	float:left;
	margin-top: -15px;
	visibility:hidden;
	transition: 400ms ease-out; 
  -webkit-transition: 400ms ease-out;
  -moz-transition: 400ms ease-out;
  -ms-transition: 400ms ease-out;
  -o-transition: 400ms ease-out;
	margin-left: 34.5%;
	visibility:visible;
}

div #hold{
	height: 200px;
	background:white;
}


li#mt1:hover ~ #tri {
		margin-left: 9%;
	visibility:visible;
}
li#mt3:hover ~ #tri {
		margin-left: 59%;
	visibility:visible;
}
li#mt4:hover ~ #tri {
		margin-left: 82.5%;
	visibility:visible;
}

nav#top ul li#mt2 a{
	color: red;
}

a#slogo img{
	width: 50%;
	z-index:1;
	position: relative;
	margin-left: 10px;
}

div.wrapper div#foot{
	width: 80%;
	padding: 0 10%;
	display: inline-flex;
	background: #e9ebee;
}

div.wrapper div#foot div{
	width: 24%;
	margin:auto;
	padding-bottom: 20px;
	display: inline-block;
}

div.wrapper div#foot div a{
	text-decoration: none;
	color: black;
}

div.wrapper div#foot div:not(:first-child){
	
	-webkit-box-shadow: -35px 0px 20px -35px #757575;
	box-shadow: -35px 0px 20px -35px #757575;
}

div.wrapper div#foot div ul{
	list-style-type: none;
	padding: 0;
}

div.wrapper div#foot div li,div.wrapper div#foot div h1{
	padding-left: 20%;
	width: 60%;
	font-family: yu gothic;
}

div.wrapper div#foot div li{
	line-height: 20px;
	font-size: 14px;
}

div.wrapper div#foot div h1{
	
	line-height: 30px;
	font-size:25px;
	margin-bottom: 0;
	text-align: center;
}


footer{
	overflow: hidden;
background: rgb(39,38,44);
}

footer p{
	margin:0;
    	vertical-align: middle;
   	padding: 10px;
	margin-left: 10%;
    	font-family: yu gothic;
    	color: white;
    	font-size: 12px;
	display: inline-block;
}

footer img{
	width: 30px;
	float: right;
	margin-right: 5px;
	margin-top: .4%;
	opacity: .5;
	
}

footer img#insta{
	margin-right: 10%;
}

footer img:hover{
	opacity: 1;
	transform: scale(1.1);
	transition: ease-in 100ms;
}

div#view{
	width: 70%;
	text-align: center;
	font-family: yu gothic;
	font-size: 135%;
	display: inline-block;
}

div#view h1{
	margin:0;
}

div#menu{
	width: 30%;
float: right;
}

div#tool ul{
	list-style-type: none;
	width:100%;
	padding:0;
}


div#tool{
	background: #27262c;
	float:left;
	padding: 15px 0px;
	width:25%;
	margin-left:5%;
	color:white;
	font-family: yu gothic;
	text-align: right;
	margin-top:40px;    
	box-shadow: -11px 11px 0px #585555;
}

div#tool h1{
	margin:0;
}


div#tool ul li{
	padding-right: 10%;
	width:90%;
    margin:0;
}


div#tool ul li{
    padding-top: 5px;
    padding-bottom: 5px;
	font-size: 18px;
	font-weight: bolder;
    cursor: pointer;
    display: table;
}

div#tool ul h1{
	font-size: 30px;
	font-weight: 100;
	font-variant: small-caps;
	text-align:center;
}


div#tool ul li:hover{
	background: #22a9e8;
}

div#tool ul h1.select:hover{
	background: #22a9e8;
}

div#tool ul li img{
	    float: left;
    width: 30px;
}

div#menu{
	width:60%;
	overflow: hidden;
	margin-top:40px;    
	margin-right:5%;
	font-family: yu gothic;
}

div#info{
	width:1000%;
	transition:ease-out .5s;
}

div#info div{
	width:10%;
	display:inline-block;
	float:left;
}

div#info div h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

table{
	width:40%;
	float:right;
	border-left: 3px solid #27262c;
}

div#info table tr td{
	padding: 5px 0px;
}
div#info table tr td:nth-child(2){
	font-size: 18px;
	font-weight: bold;
}

div#info table tr td:first-child{
	font-variant: small-caps;
	font-size: 20px;
	font-weight: bolder;
}

div#info div div.arts{
	width: 50%;
}


div#info div div.arts h2{
	text-align: center;
}

div#info div div.arts1{
	width: 100%;
}


div#info div div.arts1 h2{
	text-align: center;
}


div.arts1{
	font-size:14px;
}

div.arts1 h2{
	margin:0;
}

div.arts p{
	width:80%;
	margin-left: 10%;
	text-align: center;
	display: block;
}

div#info div.ach{
	width:100%;
}

div#info div.ach h2{
	text-align: center;
}

input[type="checkbox"]{
	display: none;
}

label{
	padding: 5px 0px;
	width:10%;
	text-align:center;
	background:#27262c;
	color: white;
	font-size: 20px;
	border-radius: 3px;
	font-variant: small-caps;
	cursor: pointer;
	display:block;
	margin-left:45%;
	transition: ease-in-out .7s;

}
div#info div#staff{
	width:100%;
	display: none;
}

div#info div#staff table{
	border:none;
	float:left;
	background: white;
	width:50%;
	margin-top:-55%;
}
div#info div#staff table td{
	height: 15px;
	width:50%;
	padding:0;
	font-size: 14px;
}

#staffs:checked  ~ div#staff{
	display:block;
}
#staffs:checked  ~ div.arts p{
	display:none;
}

#staffs:checked ~ #sp{
	opacity: 0;
}

#sp{
	transition: ease-out .6s;
	z-index: -5;
}
#staffs:checked ~ label{
	background: #c35454;
	margin-top: 0;
	border-radius: 50px;
}

div.ach h3{
	text-align: center
}


div.ach ul li{
	text-align: center
}


div.ach ul{
	list-style-type: none;

}

div#info div#ts{
	display: none;
}

div#info div#la p#french{display: none;
}

div#info div#la ul#list{display: none;
}